<article class='rental'>
  <Services::Image src={{@service.image}} alt='A picture of {{@service.title}}' />
  <div class='details'>
        <h3>
      <LinkTo class="btn text-uppercase" @route="services" @model={{@service}}>
        {{@service.title}}
      </LinkTo>
    </h3>
    <div class='detail owner'>
      <span>Owner:</span>
      {{@service.owner}}
    </div>
    <div class='detail type'>
      <span>Type:</span>
      {{@service.type}}
    </div>
    <div class='detail location'>
      <span>Location:</span>
      {{@service.city}}
    </div>
    <div class='detail bedrooms'>
      <span>Opens at:</span>
      {{@service.bedrooms}}
    </div>
  </div>
  <Map
    @lat={{@service.location.lat}}
    @lng={{@service.location.lng}}
    @zoom='9'
    @width='150'
    @height='150'
    alt='A map of {{@service.title}}'
  />
</article>